<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register a User</title>
</head>
<body>
  <h1> Register! </h1>
  <form action="/register" method="POST">
  <input type="text" placeholder="First Name" name="fName"> </br>
  <input type="text" placeholder="Last Name" name="lName"> </br>
  <input type="email" placeholder="Email Address" name="email-address"></br>
  <input type="password" placeholder="Password" name="password"></br>
  <button type="submit">Submit</button>
</form>
</body>
</html>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
